<!-- <div class="left-container">
  <h2>Sign Up</h2>
  <p>It's not long before you embark on this journey!</p>

  <mat-label>E-mail</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="name@email.com">
  </mat-form-field>

  <mat-label>Password</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="8+ Characters, 1 Capital letter">
  </mat-form-field>

  <mat-label>Confirm Password</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="8+ Characters, 1 Capital letter">
  </mat-form-field>

  <div class="terms">
    <mat-checkbox class="terms-checkbox" formControlName="termsAndCondition">
      <p class="term">I've read and agree with Terms of Service and our Privacy Police</p>
    </mat-checkbox>

    <button mat-button class="secondary-btn">Create an Account</button>
    <p> Already have an account? <a href=""> Sign In</a></p>

  </div> -->
  <!-- <img class="sign-up-img" src="../.../../../../../../assets/home-page-images/contactUS.png" alt=""> -->

<!-- </div> -->


<div class="left-container">
  <h2>Sign Up</h2>
  <p>It's not long before you embark on this journey!</p>

  <mat-label>E-mail</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="name@email.com">
  </mat-form-field>

  <mat-label>Password</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="8+ Characters, 1 Capital letter">
  </mat-form-field>

<div class="forgot-link">
  <a href=""> Forgot Password </a>
</div>
<div class="sign-in">
<button mat-button class="ternary-btn">Sign In</button>


<p class="not-acc">
  Don't have an account?  <a href=""> Sign Up</a>
</p>
</div>


</div>
