.main-container {
  display: flex;
  flex-direction: row;
}
.left-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
.terms {
  display: flex;
  flex-direction: column;
  .term {
    margin: unset;
  }
}

.right-container {
  //   height: 100%;
  //   width: 48%;
  //   color: #084e8e;
  // background-color: #084e8e;

  .sign-up-img {
    background-color: #084e8e;
    // background-image: url(../../../assets/home-page-images/contactUS.png);
    background-size: auto;
    background-position: 97% 10px;
    background-repeat: no-repeat;
    // padding-left: 10%;
    padding: 50px 10% 50px 96px;
  }
}

// .create-btn{
//   background-color: #084e8e;
//   border-radius: 20px;
//   padding: 19px 64px;
//   color: white
// }

// .contact-us {
//   background-color: #084e8e;
//   // background-image: url(../../../assets/home-page-images/contactUS.png);
//   background-size: auto;
//   background-position: 97% 10px;
//   background-repeat: no-repeat;
//   // padding-left: 10%;
//   padding: 50px 10% 50px 96px;

//   .form-field {
//     // margin-bottom: 18px;
//     .mat-form-field {
//       width: 60%;
//     }
//   }

//   h2 {
//     font-size: 48px;
//     color: white;
//   }

//   input {
//     width: 100%;
//     padding: 10px;
//   }

//   textarea {
//     resize: none;
//     width: 100%;
//     padding: 10px;
//   }
// }

.forgot-link {
  padding-left: 18%;
}

.sign-in {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 1rem;
  pad

  .not-acc {
    padding-top: 1rem;
   }
}
